@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@import "tailwindcss";


